# flyctl launch added from .gitignore
**/.DS_Store

**/*.rs.bk

**/build
**/target

**/.env*

# Prisma generated
crates/engine/src/prisma.rs

# Temp file for locres decoding
**/.tmp

# Not a code
docs/

# Infra
fly.toml
