.DS_Store

**/*.rs.bk
wasm-pack.log

build/
**/target
/dist

wrangler.toml

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.env

# the Minecraft language file is not ours
assets/

# You can specify build.target in .cargo/config.toml for easier wasm-non wasm transition
.cargo/config.toml
