.DS_Store

**/*.rs.bk

build/
**/target
/dist

.env

# the Minecraft language file is not ours
assets/

# You can specify build.target in .cargo/config.toml for easier wasm-non wasm transition
.cargo/config.toml
